.left-side-bar{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 1.2rem;
    width: 20%;
    justify-content: center;
    align-items: center;
}

.bar{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: auto 0 0;
    background-image: linear-gradient(to top left, #d70a84, #51127f);
    height: 70vh;
    width: 15vw;
    border-radius: 15px;
    overflow:hidden ;
    margin-top: 2rem;
}

.list-items{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    list-style: none;
    color: white;
    align-items: flex-start;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 3rem;
}

.list-items img{
    padding-right: 15px;
    height: 2vh;
    width: auto;
}

.bar button{
    margin: 25px 30px;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 4vh;
    width: 50%;
    border: white;
    border-radius: 15px;
}
.list-items a{
    text-decoration: none;
    color: #fff;
    margin-bottom: 5px;
}