.home-page{
    display: flex;
    flex-direction: column;
    width: 75%;
    justify-content: center;
    align-items: flex-start;
}

.top-div{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 72%;
    height: 35rem;
    color: #fff;
    /* background-image: url("../../assets/Elements/Design-2_0031_Layer-20.png"); */
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 5px;
    margin-right: 200px;
}

.left-section{
    margin-left: 60px;
    text-align: left;
}

.bottom-div{
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    gap: 1.1rem;
    margin-left: 20px;
    margin-top: -20px;
}

.bottom-top-section h2{
    text-align: start;
}

.bottom-left-div{
    margin-top: 2rem;
    color: #fff;
    background: #1f0452;
    border: 5px solid #bd0b83;
    border-radius: 25px;
    width: 80%;
    height: auto;
}

th span{
    margin: 0 3.5rem;
    color: #bd0b83;
}

tr td{
    display: flex;
    justify-content: center;
    gap: 6rem;
    font-size: small;
}

.bottom-right-div{
    display: flex;
    color: #fff;
    background-color: #1f0452;
    border: 5px solid #bd0b83;
    border-radius: 25px;
    width: 70%;
    height: 240px;
    margin-top: 30px;
}

.bottom-right-div button{
    width: 20%;
    height: 2rem;
    border-radius: 25px;
    color: #fff;
    background: #1f0452;
    border: 2px solid #bd0b83;
}