.warning-modal-wrapper {
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.95);

  /* For other browsers */
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.95);
  transition: all 0.4s ease;
  z-index: 3;
}

.show {
  visibility: visible;
  opacity: 1;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

#subtitle-text li {
  margin: 15px 0px;
}

#overlay-popup-kya {
  position: fixed;
  top: 10%;
  left: 32%;
  max-height: 80vh;
  height: auto;
  filter: blur(0px) !important;
  width: 35vw;
  background: linear-gradient(
    112deg,
    rgba(24, 5, 80, 1) 0%,
    rgba(68, 14, 131, 1) 100%
  );
  border: 0px solid #d60a84;
  overflow: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#overlay-popup::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#overlay-popup {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#mascotImg {
  position: absolute;
  z-index: 1;
  width: 22vw;
  height: 22vw;
  top: 50%;
  left: 68%;
}
#overlay-text {
  margin: 10px 2vw;
}

#overlay-text #title {
  display: block;
  text-align: center;
  color: white;
  font-size: 1.7em;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

#overlay-close img {
  cursor: pointer;
}

#accept-kya {
  display: block;
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to right, #8e0081, #fa008c);
  color: whitesmoke;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 30px;
}
