
#overlay-popup
{
    position: fixed;
    z-index: 1;
    margin: 0 auto;
    filter: blur(0px) !important;
    width: 35vw;
    background-color: #822169;
    /* For Internet Explorer */
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, .9);
      
    /* For other browsers */
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .9);
}


#overlay-text
{
  margin: 35px 2vw;
}

#overlay-text span,
#overlay-text a
{
  display: block;
  text-align: center;
  margin: 5px;
  color: white;
  font-size: 20px;
}

#overlay-text a
{
  font-size: 12px;
}

#overlay-close
{
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  font-weight: bold;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}