.header{
    display: table-row;
    height: auto;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    position: absolute;
    top: 0;
    padding-top: 52px;
}

.sidebar-logo {
    padding-left: 8%;
    margin-right: 2vw;
    display: table-cell;
    justify-content: center;
    align-items: center;
    overflow: none;
}
.right-container {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}
.header-right{
    background-image: linear-gradient(to right, #51127f, #d70a84);
    width: auto;
    margin-left: 20%;
    margin-right: 10%;
    border-radius: 25px;
    height: 2.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
}

.search-bar {
    position: relative;
    padding-bottom: 2px;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    width: 350px;
}

#search-game{
    border-color: transparent;
    border-radius: 25px;
    padding-left: 10px;
    height: 90%;
    width: 90%;
}

#search-game-icon {
    position: absolute;
    margin-left: 80%;
}

.connect-wallet{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    vertical-align: middle;
}
.connect-text{
    padding-top: 1px;
}

.connect-wallet-icon {
    height: 100%;
    width: 21px;
    height: 26px;
    padding-right: 8px;
    float: left;
}

.connect-wallet-button {
    width: 170px;
    display: block;
    border-radius: 25px;
    padding: 10px 15px 10px 40px;
    margin-right: 0px;
    border: none;
    
}