.maincontent-wrapper{
   width: 66%; 
  display: table-row;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse; 
  vertical-align: top;
}
.table{
    border-spacing: 72px;
    max-height: 800px;
}
.td {
    display:grid;
}
.precolumn {
    float: left;
    width: 15vw;
}
@media screen and (max-width:728px){
    .precolumn {
        width: 10vw;
    }
}
.leadercolumn {
    float: left;
    width: 35%;
    padding-top: 12px;
    padding-left: 2vw;
    margin-right: 1vw;
    margin-left:3vw;
    background: rgb(41, 1, 73);
    border-radius: 20px;
    border: solid 6px darkmagenta;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: auto;
    overflow: none;
  }
  .imagecolumn {
    float: left;
    width: 25%;
    padding-top: 12px;
    padding-left: 2vw;
    margin-right: 1vw;
    margin-left:1vw;
    background: rgb(41, 1, 73);
    background-image: url("../assets/Elements/Design-2_0000_Layer-21.png");
    background-size: 200px;
    background-repeat:no-repeat;
    background-position-x: right;
    border-radius: 20px;
    border: solid 6px darkmagenta;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: auto;
    overflow: none;
  }
 
  @media screen and (max-width:728px){
    .imagecolumn {
        width: 70%;
        margin-right: 0vw;
    margin-left:12vw;
    }
}
@media screen and (max-width:728px){
    .leadercolumn {
        width:70%;
        margin-right: 2vw;
    margin-left:2vw;
    margin-bottom: 2vh;
    }
}
 /* Clear floats after the columns */
 .row:after {
    content: "";
    display: table;
    clear: both;
  }
.subHero-wrapper{
    width: 100%;
  display: flex;
  flex-direction: row-reverse;
  gap: 72px;
}
.grow1 { 
    flex-grow: 1; 
}
.Hero{
    margin-right: 10%;
    padding-left: 2vw;
    padding-top: 12px;
    background-image: url("../assets/Elements/hero-1.png");
    background-repeat:repeat;
    background-attachment: local;
    background-position: bottom center;
    background-size: auto;
    background-position-y: center;
    width: 86%;
    border-radius: 20px;
    border: solid 6px darkmagenta;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: auto;
    display: table-cell;
    overflow: none;
    vertical-align: bottom;
}
.leaderboard{
    padding: 12px;
}
.leaderboard-header{
    color: white;
}
.leaderboard-table{
    color: white;
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

.badge-text{
    color: lightgrey;
    vertical-align: top;
}
.hero-heading{
    color: white;
}
.hero-content{
    padding: 12px;
    color: white;
}
.hero-button{
    float: bottom;
    color: white;
    font-size: 12px;
    font-weight: 500;
    background-image: linear-gradient(to right, blueviolet , darkmagenta);
    width: 123px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 32px;
    margin-bottom: 32px;
    margin-left: 24px;
    border-style: none;
}
.hero-button:hover{
    background: white;
    color: blueviolet;
}
