#body-content-wrapper
{
    display: flex;
    flex-direction: row;
    width: calc(100vw - 20px);
    max-width: 1400px;
    margin: 0 auto;
}

#body-content-wrapper #body-content
{
    display: flex;
    flex-direction: row;
    flex: 75%;
}

#body-content-wrapper.game #body-content
{
    flex: 100%;
}

#body-content-wrapper.game #sidebars
{
    flex: 0%;
    max-width: 0px;
}

#body-content-wrapper.game #sidebars #side-navigation-large-wrapper
{
	position: fixed;
	left: 0px;
	min-width: 350px;
	max-width: 350px;
	width: 100vw;
	transform: translateX(-320px);
	transition: all 0.4s ease;
}

#body-content-wrapper #sidebars #side-navigation-large-wrapper #side-navigation-large #left-side-bar-show-button-wrapper
{
    display: none;
}

#body-content-wrapper.game #sidebars #side-navigation-large-wrapper #side-navigation-large #left-side-bar-show-button-wrapper
{
    display: flex;
}

#body-content-wrapper #body-content #page-content-wrapper
{
    flex: 75%;
    display: flex;
    flex-direction: column;
    max-height: 855px;
}

#body-content-wrapper #body-content #page-content-wrapper #home-page-hot-wrapper
{
    flex: 70%;
    display: flex;
}

#body-content-wrapper #body-content #page-content-wrapper #home-page-hot-wrapper #home-page-hot
{
    flex: 60%;
}

.answer-text {
    font-size: 18px;
}

#body-content-wrapper #body-content #page-content-wrapper #home-page-hot-wrapper #home-page-hot #home-page-hot-border
{
    width: calc(100% - 50px);
    height: calc(100% - 45px);
    background-color: #D60A84;
    border-radius: 30px;
    margin: 30px 25px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px -5px;
}
#body-content-wrapper #body-content #page-content-wrapper #home-page-hot-wrapper #home-page-hot #home-page-hot-border #home-page-hot-content-background

{
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    border-radius: 25px;
    margin: 0 auto;
    background: linear-gradient(112deg, rgba(24,5,80,1) 0%, rgba(68,14,131,1) 100%);
}

#body-content-wrapper #body-content #page-content-wrapper #home-page-hot-wrapper #home-page-hot #home-page-hot-border #home-page-hot-content-background #home-page-inner-wrapper
{
    width: 100%;
    height: 100%;
    opacity: 1;
    display: flex;
    flex-direction: row;
}

#body-content-wrapper #body-content #page-content-wrapper #home-page-hot-wrapper #home-page-hot #home-page-hot-border #home-page-hot-content-background #home-page-inner-wrapper #home-page-inner-left
{
    flex: calc(45% - 60px);
    color: whitesmoke;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

#body-content-wrapper #body-content #page-content-wrapper #home-page-hot-wrapper #home-page-hot #home-page-hot-border #home-page-hot-content-background #home-page-inner-wrapper #home-page-inner-left #top
{
    text-align: left;
}

#body-content-wrapper #body-content #page-content-wrapper #home-page-hot-wrapper #home-page-hot #home-page-hot-border #home-page-hot-content-background #home-page-inner-wrapper #home-page-inner-left #bottom
{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

#body-content-wrapper #body-content #page-content-wrapper #home-page-hot-wrapper #home-page-hot #home-page-hot-border #home-page-hot-content-background #home-page-inner-wrapper #home-page-inner-left #bottom #inner-fill
{
    flex: 1 1 auto;
}

#body-content-wrapper #body-content #page-content-wrapper #home-page-hot-wrapper #home-page-hot #home-page-hot-border #home-page-hot-content-background #home-page-inner-wrapper #home-page-inner-left #bottom #header
{
    flex: 0 0 auto;
}

#body-content-wrapper #body-content #page-content-wrapper #home-page-hot-wrapper #home-page-hot #home-page-hot-border #home-page-hot-content-background #home-page-inner-wrapper #home-page-inner-left #bottom #header h1
{
    font-size: 50px;
    margin: 15px 0px;
}

#body-content-wrapper #body-content #page-content-wrapper #home-page-hot-wrapper #home-page-hot #home-page-hot-border #home-page-hot-content-background #home-page-inner-wrapper #home-page-inner-left #bottom #header #header-button
{
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    margin: 15px 0px 0px 0px;
    background-image: linear-gradient(to right, #8e0081, #fa008c);
    color: whitesmoke;
    font-size: 18px;
}

#body-content-wrapper #body-content #page-content-wrapper #home-page-hot-wrapper #home-page-hot #home-page-hot-border #home-page-hot-content-background #home-page-inner-wrapper #home-page-inner-right
{
    flex: 55%;
}

#body-content-wrapper #body-content #page-content-wrapper #home-page-hot-wrapper #home-page-hot #home-page-hot-border #home-page-hot-content-background #home-page-inner-wrapper #home-page-inner-right #background-image
{
    height: 100%;
    width: 90%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#body-content-wrapper #body-content #page-content-wrapper #home-page-footer
{
    flex: 30%;
    display: flex;
}

#body-content-wrapper #body-content #page-content-wrapper #home-page-footer #home-page-transactions-wrapper
{
    flex: 60%;
    display: flex;
}

#body-content-wrapper #body-content #page-content-wrapper #home-page-footer #home-page-transactions-wrapper #home-page-transactions-border
{
    width: calc(100% - 50px);
    height: calc(100% - 45px);
    background-color: #D60A84;
    border-radius: 30px;
    margin: 15px 25px 30px 25px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

#body-content-wrapper #body-content #page-content-wrapper #home-page-footer #home-page-transactions-wrapper #home-page-transactions-border #transactions-wrapper
{
    background-color: #20075a;
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    border-radius: 25px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#body-content-wrapper #body-content #page-content-wrapper #home-page-footer #home-page-transactions-wrapper #home-page-transactions-border #transactions-wrapper #transactions-header-wrapper
{
    display: flex;
}

#body-content-wrapper #body-content #page-content-wrapper #home-page-footer #home-page-transactions-wrapper #home-page-transactions-border #transactions-wrapper #transactions-header-wrapper #transactions-header
{
    flex: 30px;
    max-height: 30px;
    display: flex;
    margin: 10px 20px;
    align-items: center;
    align-content: center;
}

#body-content-wrapper #body-content #page-content-wrapper #home-page-footer #home-page-transactions-wrapper #home-page-transactions-border #transactions-wrapper #transactions-header-wrapper #transactions-header #transactions-icon
{
    width: 35px;
    height: 35px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#body-content-wrapper #body-content #page-content-wrapper #home-page-footer #home-page-transactions-wrapper #home-page-transactions-border #transactions-wrapper #transactions-header-wrapper #transactions-header #transactions-text
{
    margin-left: 20px;
    font-size: 20px;
    color: white;
}

#body-content-wrapper #body-content #page-content-wrapper #home-page-footer #home-page-transactions-wrapper #home-page-transactions-border #transactions-wrapper #transactions-table-wrapper
{
    flex: 1 1 auto;
}

#body-content-wrapper #body-content #page-content-wrapper #home-page-footer #home-page-transactions-wrapper #home-page-transactions-border #transactions-wrapper #transactions-table-wrapper table
{
    width: 100%;
}

#body-content-wrapper #body-content #page-content-wrapper #home-page-footer #home-page-transactions-wrapper #home-page-transactions-border #transactions-wrapper #transactions-table-wrapper table th,
#body-content-wrapper #body-content #page-content-wrapper #home-page-footer #home-page-transactions-wrapper #home-page-transactions-border #transactions-wrapper #transactions-table-wrapper table td
{
    color: white;
    text-align: center;
    width: 33%;
    padding: 5px;
}

#body-content-wrapper #body-content #page-content-wrapper #home-page-footer #home-page-transactions-wrapper #home-page-transactions-border #transactions-wrapper #transactions-table-wrapper table th
{
    color: #ab0d82;
}

#body-content-wrapper #body-content #page-content-wrapper #home-page-footer #home-page-hot-games
{
    flex: 40%;
}

#body-content-wrapper #body-content #page-content-wrapper #home-page-footer #home-page-hot-games .hot-games-border
{
    width: calc(100% - 25px);
    height: calc(100% - 45px);
    background-color: #D60A84;
    border-radius: 30px;
    margin: 15px 15px 30px 0px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

#body-content-wrapper #body-content #page-content-wrapper #home-page-footer #home-page-hot-games .hot-games-border#hot-game-roulette
{
    display: none;
}

#body-content-wrapper #body-content #page-content-wrapper #home-page-footer #home-page-hot-games .hot-games-border .hot-games-wrapper
{
    color: white;
    background-color: #20075a;
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    border-radius: 25px;
    margin: 0 auto;
    display: flex;
}

#body-content-wrapper #body-content #page-content-wrapper #home-page-footer #home-page-hot-games .hot-games-border .hot-games-wrapper .hot-games-inner-left
{
    flex: 50%;
    display: flex;
    flex-direction: column;
}

#body-content-wrapper #body-content #page-content-wrapper #home-page-footer #home-page-hot-games .hot-games-border .hot-games-wrapper .hot-games-inner-left .top
{
    display: flex;
    flex-direction: column;
}

#body-content-wrapper #body-content #page-content-wrapper #home-page-footer #home-page-hot-games .hot-games-border .hot-games-wrapper .hot-games-inner-left .top .hot-games-top-header
{
    font-size: 18px;
    margin: 15px 15px 0px 15px;
}

#body-content-wrapper #body-content #page-content-wrapper #home-page-footer #home-page-hot-games .hot-games-border .hot-games-wrapper .hot-games-inner-left .top .hot-game-name
{
    font-size: 14px;
    margin: 0px 15px 15px 15px;
}

#body-content-wrapper #body-content #page-content-wrapper #home-page-footer #home-page-hot-games .hot-games-border .hot-games-wrapper .hot-games-inner-left .bottom
{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

#body-content-wrapper #body-content #page-content-wrapper #home-page-footer #home-page-hot-games .hot-games-border .hot-games-wrapper .hot-games-inner-left .bottom .inner-fill
{
    flex: 1 1 auto;
}

#body-content-wrapper #body-content #page-content-wrapper #home-page-footer #home-page-hot-games .hot-games-border .hot-games-wrapper .hot-games-inner-left .bottom .button-wrapper .button-background
{
    margin: 20px;
    background-image: linear-gradient(to bottom, #4a1077, #d53a9d);
    border: none;
    border-radius: 20px;
    width: 112px;
}

#body-content-wrapper #body-content #page-content-wrapper #home-page-footer #home-page-hot-games .hot-games-border .hot-games-wrapper .hot-games-inner-left .bottom .button-wrapper .button-background .hot-games-button
{
    color: white;
    background-color: #20075a;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    padding: 10px;
    margin: 1px;
    width: 110px;
}

#body-content-wrapper #body-content #page-content-wrapper #home-page-footer #home-page-hot-games .hot-games-border .hot-games-wrapper .hot-games-inner-right
{
    flex: 50%;
}

#body-content-wrapper #body-content #page-content-wrapper #home-page-footer #home-page-hot-games .hot-games-border .hot-games-wrapper .hot-games-inner-right .background-image
{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

@media all and (max-width: 992px)
{
    #body-content-wrapper #body-content
    {
        padding-bottom: 60px;
    }

    #body-content-wrapper #body-content #page-content-wrapper #home-page-hot-wrapper
    {
        flex: 0 0 auto;
    }

    #body-content-wrapper #body-content #page-content-wrapper #home-page-hot-wrapper #home-page-hot #home-page-hot-border
    {
        width: calc(100% - 20px);
        margin: 30px 10px;
    }

    #body-content-wrapper #body-content #page-content-wrapper #home-page-hot-wrapper #home-page-hot #home-page-hot-border #home-page-hot-content-background
    {
        width: calc(100% - 10px);
        height: calc(100% - 10px);
    }

    #body-content-wrapper #body-content #page-content-wrapper #home-page-hot-wrapper #home-page-hot #home-page-hot-border #home-page-hot-content-background #home-page-inner-wrapper #home-page-inner-left
    {
        flex: calc(45% - 30px);
        padding: 15px;
    }

    #body-content-wrapper #body-content #page-content-wrapper #home-page-hot-wrapper #home-page-hot #home-page-hot-border #home-page-hot-content-background #home-page-inner-wrapper #home-page-inner-left #top
    {
        display: none;
    }

    #body-content-wrapper #body-content #page-content-wrapper #home-page-hot-wrapper #home-page-hot #home-page-hot-border #home-page-hot-content-background #home-page-inner-wrapper #home-page-inner-left #bottom
    {
        flex-direction: row;
        align-items: center;
        align-content: center;
    }

    #body-content-wrapper #body-content #page-content-wrapper #home-page-hot-wrapper #home-page-hot #home-page-hot-border #home-page-hot-content-background #home-page-inner-wrapper #home-page-inner-left #bottom #inner-fill
    {
        display: none;
    }

    #body-content-wrapper #body-content #page-content-wrapper #home-page-hot-wrapper #home-page-hot #home-page-hot-border #home-page-hot-content-background #home-page-inner-wrapper #home-page-inner-left #bottom #header
    {
        margin: 0 auto;
        text-align: center;
    }

    #body-content-wrapper #body-content #page-content-wrapper #home-page-hot-wrapper #home-page-hot #home-page-hot-border #home-page-hot-content-background #home-page-inner-wrapper #home-page-inner-left #bottom #header h1
    {
        font-size: 20px;
        margin: 0 auto;
    }

    #body-content-wrapper #body-content #page-content-wrapper #home-page-hot-wrapper #home-page-hot #home-page-hot-border #home-page-hot-content-background #home-page-inner-wrapper #home-page-inner-right #background-image
    {
        background-size: 80%;
    }

    #body-content-wrapper #body-content #page-content-wrapper #home-page-hot-wrapper #home-page-hot #home-page-hot-border #home-page-hot-content-background #home-page-inner-wrapper #home-page-inner-left #bottom #header #header-description
    {
        display: none;
    }

    #body-content-wrapper #body-content #page-content-wrapper #home-page-footer
    {
        flex-direction: column-reverse;
        max-height: 585px;
    }

    #body-content-wrapper #body-content #page-content-wrapper #home-page-footer #home-page-transactions-wrapper
    {
        max-height: 235px;
        flex: 235px;
    }

    #body-content-wrapper #body-content #page-content-wrapper #home-page-footer #home-page-transactions-wrapper #home-page-transactions-border
    {
        width: calc(100% - 20px);
        margin: 10px 10px;
    }

    #body-content-wrapper #body-content #page-content-wrapper #home-page-footer #home-page-transactions-wrapper #home-page-transactions-border #transactions-wrapper
    {
        height: calc(100% - 10px);
        width: calc(100% - 10px);
    }

    #body-content-wrapper #body-content #page-content-wrapper #home-page-footer #home-page-transactions-wrapper #home-page-transactions-border #transactions-wrapper #transactions-table-wrapper table th.transaction-amount,
    #body-content-wrapper #body-content #page-content-wrapper #home-page-footer #home-page-transactions-wrapper #home-page-transactions-border #transactions-wrapper #transactions-table-wrapper table td.transaction-amount
    {
        display: none;
    }

    #body-content-wrapper #body-content #page-content-wrapper #home-page-footer #home-page-hot-games
    {
        display: flex;
        flex-direction: row;
        flex: 1 1 auto;
    }

    #body-content-wrapper #body-content #page-content-wrapper #home-page-footer #home-page-hot-games .hot-games-border
    {
        margin: 10px 10px;
        height: calc(100% - 20px);
        min-height: 300px;
        max-height: 350px;
    }

    #body-content-wrapper #body-content #page-content-wrapper #home-page-footer #home-page-hot-games .hot-games-border#hot-game-roulette
    {
        display: flex;
    }

    #body-content-wrapper #body-content #page-content-wrapper #home-page-footer #home-page-hot-games .hot-games-border .hot-games-wrapper
    {
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        flex-direction: column-reverse;
    }
    
    #body-content-wrapper #body-content #page-content-wrapper #home-page-footer #home-page-hot-games .hot-games-border .hot-games-wrapper .hot-games-inner-left
    {
        flex: 1 1 auto;
    }

    #body-content-wrapper #body-content #page-content-wrapper #home-page-footer #home-page-hot-games .hot-games-border .hot-games-wrapper .hot-games-inner-left .top
    {
        text-align: center;
    }

    #body-content-wrapper #body-content #page-content-wrapper #home-page-footer #home-page-hot-games .hot-games-border .hot-games-wrapper .hot-games-inner-left .top .hot-games-top-header,
    #body-content-wrapper #body-content #page-content-wrapper #home-page-footer #home-page-hot-games .hot-games-border .hot-games-wrapper .hot-games-inner-left .top .hot-game-name
    {
        margin: 5px 0px;
    }

    #body-content-wrapper #body-content #page-content-wrapper #home-page-footer #home-page-hot-games .hot-games-border .hot-games-wrapper .hot-games-inner-left .bottom .button-wrapper .button-background
    {
        margin: 5px auto;
    }

}
