.number:nth-child(1) {
    transform: rotateZ(9.7297297297297deg);
}
.number:nth-child(2) {
    transform: rotateZ(19.459459459459deg);
}
.number:nth-child(3) {
    transform: rotateZ(29.189189189189deg);
}
.number:nth-child(4) {
    transform: rotateZ(38.918918918919deg);
}
.number:nth-child(5) {
    transform: rotateZ(48.648648648649deg);
}
.number:nth-child(6) {
    transform: rotateZ(58.378378378378deg);
}
.number:nth-child(7) {
    transform: rotateZ(68.108108108108deg);
}
.number:nth-child(8) {
    transform: rotateZ(77.837837837838deg);
}
.number:nth-child(9) {
    transform: rotateZ(87.567567567568deg);
}
.number:nth-child(10) {
    transform: rotateZ(97.297297297297deg);
}
.number:nth-child(11) {
    transform: rotateZ(107.02702702703deg);
}
.number:nth-child(12) {
    transform: rotateZ(116.75675675676deg);
}
.number:nth-child(13) {
    transform: rotateZ(126.48648648649deg);
}
.number:nth-child(14) {
    transform: rotateZ(136.21621621622deg);
}
.number:nth-child(15) {
    transform: rotateZ(145.94594594595deg);
}
.number:nth-child(16) {
    transform: rotateZ(155.67567567568deg);
}
.number:nth-child(17) {
    transform: rotateZ(165.40540540541deg);
}
.number:nth-child(18) {
    transform: rotateZ(175.13513513514deg);
}
.number:nth-child(19) {
    transform: rotateZ(184.86486486486deg);
}
.number:nth-child(20) {
    transform: rotateZ(194.59459459459deg);
}
.number:nth-child(21) {
    transform: rotateZ(204.32432432432deg);
}
.number:nth-child(22) {
    transform: rotateZ(214.05405405405deg);
}
.number:nth-child(23) {
    transform: rotateZ(223.78378378378deg);
}
.number:nth-child(24) {
    transform: rotateZ(233.51351351351deg);
}
.number:nth-child(25) {
    transform: rotateZ(243.24324324324deg);
}
.number:nth-child(26) {
    transform: rotateZ(252.97297297297deg);
}
.number:nth-child(27) {
    transform: rotateZ(262.7027027027deg);
}
.number:nth-child(28) {
    transform: rotateZ(272.43243243243deg);
}
.number:nth-child(29) {
    transform: rotateZ(282.16216216216deg);
}
.number:nth-child(30) {
    transform: rotateZ(291.89189189189deg);
}
.number:nth-child(31) {
    transform: rotateZ(301.62162162162deg);
}
.number:nth-child(32) {
    transform: rotateZ(311.35135135135deg);
}
.number:nth-child(33) {
    transform: rotateZ(321.08108108108deg);
}
.number:nth-child(34) {
    transform: rotateZ(330.81081081081deg);
}
.number:nth-child(35) {
    transform: rotateZ(340.54054054054deg);
}
.number:nth-child(36) {
    transform: rotateZ(350.27027027027deg);
}

.roulette-wrapper
{
    flex: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* background-color: #000; */
}

.roulette-wrapper .roulette-wheel-content-wrapper
{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.roulette-wrapper .roulette-wheel-content-wrapper,
.roulette-wrapper .roulette-table-content-wrapper
{
    flex: 50%;
}

.plate {
    background-color: gray;
    width: 350px;
    height: 350px;
    margin: 12px;
    border-radius: 50%;
    position: relative;
    animation: rotate 24s infinite linear;
}
.plate:after, .plate:before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
}
.plate:after {
    top: -4px;
    right: -4px;
    bottom: -5px;
    left: -4px;
    border: 5px solid #E0CCFC;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 
        inset 0 0 2em 3px #A739FF, 0 0 3em 1em #A739FF
}
.plate:before {
    background: rgba(0,0,0,0.75);
    border: 3px solid #ebdeff;;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: inset 0px 0px 0.5em 1px #A739FF, 0px 0px 0.5em 1px #A739FF;
    top: 13%;
    left: 13%;
    right: 13%;
    bottom: 13%;
    z-index: 1;
}

.number {
    width: 31px;
    height: 175px;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 0;
    left: calc(34%);
    transform-origin: 50% 100%;
    background-color: transparent;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 175px solid black;
    box-sizing: border-box;
}
.number:nth-child(odd) {
    border-top-color: red;
}
.number:nth-child(37) {
    border-top-color: green;
}
.pit {
    color: #fff;
    padding-top: 12px;
    width: 32px;
    display: inline-block;
    font-size: 12px;
    transform: scale(1,1.8);
    position: absolute;
    top: -175px;
    left: -16px;
}

#fuckinginner.default-spin::before
{
    animation-name: default-ball;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* display: none; */
}

#fuckinginner.stop-spin::before
{
    padding-top: 55px;
    padding-left: 55px;
    transition: padding 2s ease, transform 9s ease-out;
}

.behindlol {
    /*2024 1835*/ 
    position: absolute;
    width: 497px;
    height: 497px;
    left: -22%;
    top: -21%;
    border-radius: 50%;
    box-shadow: inset 0 0 2em 1px #A739FF, 0 0 2.5em 1.5em #A739FF
}
.inner {
    display: block;
    height: 350px;
    width: 426px;
    position: relative;
}
.inner:after, .inner:before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
}
.inner:after {
    z-index:3;
    top: 21%;
    right: 41%;
    bottom: 21%;
    left: 16%;
    border: 3px solid #ebdeff;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: inset 0px 0px 0.5em 1px #A739FF, 0px 0px 0.3em 1px #A739FF;
    background-image: url("../../../assets/Elements/middle.png");
    background-position: center;
    background-size: 105%;
}
.inner:before {
    top: 8.5%;
    right: 31.5%;
    bottom: 8%;
    left: 7%;
    color: #fff;
    border-radius: 0;
    z-index: 5;
    /* content: ''; */
    content: url("../../../assets/Elements/roulette_ball.png");
}

.inner[data-spinto='1']:before {
    z-index: 1;
    transform: rotateZ(-2612deg);
    transition: transform 9s ease-out;
}
.inner[data-spinto='2']:before {
    z-index: 1;
    transform: rotateZ(-2778deg);
    transition: transform 9s ease-out;
}
.inner[data-spinto='3']:before {
    z-index: 1;
    transform: rotateZ(-2856deg);
    transition: transform 9s ease-out;
}
.inner[data-spinto='4']:before {
    z-index: 1;
    transform: rotateZ(-2797deg);
    transition: transform 9s ease-out;
}
.inner[data-spinto='5']:before {
    z-index: 1;
    transform: rotateZ(-2651deg);
    transition: transform 9s ease-out;
}
.inner[data-spinto='6']:before {
    z-index: 1;
    transform: rotateZ(-2739deg);
    transition: transform 9s ease-out;
}
.inner[data-spinto='7']:before {
    z-index: 1;
    transform: rotateZ(-2534deg);
    transition: transform 9s ease-out;
}
.inner[data-spinto='8']:before {
    z-index: 1;
    transform: rotateZ(-2680deg);
    transition: transform 9s ease-out;
}
.inner[data-spinto='9']:before {
    z-index: 1;
    transform: rotateZ(-2572deg);
    transition: transform 9s ease-out;
}
.inner[data-spinto='10']:before {
    z-index: 1;
    transform: rotateZ(-2660deg);
    transition: transform 9s ease-out;
}
.inner[data-spinto='11']:before {
    z-index: 1;
    transform: rotateZ(-2700deg);
    transition: transform 9s ease-out;
}
.inner[data-spinto='12']:before {
    z-index: 1;
    transform: rotateZ(-2876deg);
    transition: transform 9s ease-out;
}
.inner[data-spinto='13']:before {
    z-index: 1;
    transform: rotateZ(-2720deg);
    transition: transform 9s ease-out;
}
.inner[data-spinto='14']:before {
    z-index: 1;
    transform: rotateZ(-2591deg);
    transition: transform 9s ease-out;
}
.inner[data-spinto='15']:before {
    z-index: 1;
    transform: rotateZ(-2818deg);
    transition: transform 9s ease-out;
}
.inner[data-spinto='16']:before {
    z-index: 1;
    transform: rotateZ(-2631deg);
    transition: transform 9s ease-out;
}
.inner[data-spinto='17']:before {
    z-index: 1;
    transform: rotateZ(-2759deg);
    transition: transform 9s ease-out;
}
.inner[data-spinto='18']:before {
    z-index: 1;
    transform: rotateZ(-2553deg);
    transition: transform 9s ease-out;
}
.inner[data-spinto='19']:before {
    z-index: 1;
    transform: rotateZ(-2808deg);
    transition: transform 9s ease-out;
}
.inner[data-spinto='20']:before {
    z-index: 1;
    transform: rotateZ(-2602deg);
    transition: transform 9s ease-out;
}
.inner[data-spinto='21']:before {
    z-index: 1;
    transform: rotateZ(-2788deg);
    transition: transform 9s ease-out;
}
.inner[data-spinto='22']:before {
    z-index: 1;
    transform: rotateZ(-2563deg);
    transition: transform 9s ease-out;
}
.inner[data-spinto='23']:before {
    z-index: 1;
    transform: rotateZ(-2670deg);
    transition: transform 9s ease-out;
}
.inner[data-spinto='24']:before {
    z-index: 1;
    transform: rotateZ(-2640.5deg);
    transition: transform 9s ease-out;
}
.inner[data-spinto='25']:before {
    z-index: 1;
    transform: rotateZ(-2769deg);
    transition: transform 9s ease-out;
}
.inner[data-spinto='26']:before {
    z-index: 1;
    transform: rotateZ(-2847deg);
    transition: transform 9s ease-out;
}
.inner[data-spinto='27']:before {
    z-index: 1;
    transform: rotateZ(-2730deg);
    transition: transform 9s ease-out;
}
.inner[data-spinto='28']:before {
    z-index: 1;
    transform: rotateZ(-2885deg);
    transition: transform 9s ease-out;
}
.inner[data-spinto='29']:before {
    z-index: 1;
    transform: rotateZ(-2544deg);
    transition: transform 9s ease-out;
}
.inner[data-spinto='30']:before {
    z-index: 1;
    transform: rotateZ(-2690deg);
    transition: transform 9s ease-out;
}
.inner[data-spinto='31']:before {
    z-index: 1;
    transform: rotateZ(-2582deg);
    transition: transform 9s ease-out;
}
.inner[data-spinto='32']:before {
    z-index: 1;
    transform: rotateZ(-2827deg);
    transition: transform 9s ease-out;
}
.inner[data-spinto='33']:before {
    z-index: 1;
    transform: rotateZ(-2621deg);
    transition: transform 9s ease-out;
}
.inner[data-spinto='34']:before {
    z-index: 1;
    transform: rotateZ(-2749deg);
    transition: transform 9s ease-out;
}
.inner[data-spinto='35']:before {
    z-index: 1;
    transform: rotateZ(-2506deg);
    transition: transform 9s ease-out;
}
.inner[data-spinto='36']:before {
    z-index: 1;
    transform: rotateZ(-2709deg);
    transition: transform 9s ease-out;
}
.inner[data-spinto='0']:before {
    z-index: 1;
    transform: rotateZ(-2837deg);
    transition: transform 9s ease-out;
}

.btn {
    background: white;
    border: 1px solid #000000;
    border-top-color: #00b300;
    border-left-color: #00b300;
    top: 150px;
    padding: 0;
    margin-bottom: 0;
    display: inline-block;
    font-size: 15px;
    width: 350px;
    padding: 12px;
    margin: 12px;
    margin-right: 300px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    border-radius: 3px;
    position: absolute;
    text-align: center;
}
.btn .btn-label {
    font-size: 20px;
    font-weight: 900;
    padding: 12px;
    white-space: nowrap;
}
.btn.btn-reset {
    background: darkgreen;
    border: 1px solid #000000;
    border-top-color: #009700;
    border-left-color: #009700;
}
.btn.disabled {
    opacity: .2;
    transition: opacity .24s linear;
    cursor: not-allowed;
    pointer-events: none;
}

.data {
    display: block;
    position: absolute;
    top: 30%;
    right: 30%;
    bottom: 30%;
    left: 30%;
    border-radius: 50%;
    animation: rotate 24s reverse linear infinite;
    perspective: 2000px;
    z-index: 100;
}

.data .data-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.72s;
    transform-style: preserve-3d;
}
.data.reveal .data-inner {
    transform: rotateY(180deg);
}

.data .mask, .data .result {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}
.data .mask {
    z-index: 1;
    font-weight: bold;
    color: #000;
    font-size: 24px;
    margin: auto;
    line-height: 1.4;
    padding-top: 36px;
}
.data .result {
    background-color: green;
    color: white;
    transform: rotateY(180deg);
    align-items: center;
    color: #fff;
    z-index: 102;
    top: -6px;
    right: -6px;
    left: -6px;
    bottom: -6px;
}
.data .result-number {
    font-size: 72px;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 12px;
}
.data .result-color {
    text-transform: uppercase;
    font-size: 21px;
    line-height: 1;
}
.previous-results {
    max-width: 350px;
    margin: 24px 12px;
    margin-top: 110px;
}
.previous-list {
    perspective: 2000;
}
.previous-result {
    display: flex;
    margin: 1px;
    padding: 12px;
    color: #fff;
}
.previous-result:first-child {
    animation: flipin .48s ease-out;
}
.previous-result .previous-number {
    flex: 1;
}
.color-green {
    background-color: green;
}
.color-black {
    /* background-color: black; */
    background-color: #270D3C !important;
}
.color-red {
    /* background-color: red; */
    background-color: #E80F44 !important;
}
.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
   }
    100% {
        transform: rotateZ(360deg);
   }
}

@keyframes flipin {
    0% {
        transform: rotateX(90deg);
   }
    100% {
        transform: rotateX(0deg);
   }
}

@keyframes default-ball
{
    0% { transform: rotateZ(0deg);}
    100% { transform: rotateZ(360deg);}
}

/********************************************/
/********************************************/
/*****************TABLEEEEEEE****************/
/********************************************/
/********************************************/

/* #table-outter td
{
    padding: 5px;
    background-color: red;
    text-align: center;
}

#numbers-table td
{
    margin: 10px;
    background-color: #009700;
} */

#table-wrapper
{
    min-width: 700px;
    max-width: 700px;
}

#table-wrapper,
#top-row,
#table-numbers,
.table-row,
#right-table,
#bottom-center-table,
#bottom-row
{
    display: flex;
}

#top-row,
.table-row,
#bottom-row
{
    flex-direction: row;
}

#table-wrapper,
#table-numbers,
#right-table,
#bottom-center-table
{
    flex-direction: column;
}

.table-row
{
    flex: 100%;
}

.table-value
{
    padding: 10px 0px;
    background-color: #A739FF;
    margin: 5px;
    min-width: 20px;
    text-align: center;
}

.width-1-3rd
{
    flex: calc(100% / 3);
}

.width-1-6th
{
    flex: calc(100% / 6);
}

.width-1-12th
{
    flex: calc(100% / 12);
}

.bottom-table-spacer
{
    flex: 50px;
    max-width: 50px;
}

.bottom-table-spacer .table-value
{
    visibility: hidden;
}

#left-table
{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

#left-table .table-value
{
    flex: 1 1 auto;
    align-content: center;
    align-items: center;
    display: flex;
    height: calc(100% - 30px);
}

#left-table .table-value div
{
    margin: 0 auto;
}

#left-table, #right-table
{
    flex: 50px;
    max-width: 50px;
}

#table-numbers
{
    flex: 1 1 auto;
}

#bottom-center-table
{
    flex: 1 1 auto;
}

#numbers-table-wrapper
{
    display: flex;
    flex: 1 1 auto;
    position: relative;
}

#numbers-overlay
{
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    flex-direction: column;
    margin: 5px;
}

#numbers-overlay .row
{
    flex: calc(100% / 7);
    opacity: 0.5;
    display: flex;
}

#numbers-overlay .row.spacer
{
    max-height: 6px;
}

#numbers-overlay .row .inner-row
{
    display: flex;
    flex-direction: column;
    flex: calc(100% / 27);
}

#numbers-overlay .row .inner-row.spacer
{
    max-width: 8px;
}

#numbers-overlay .row .inner-row:hover
{
    background-color: white;
    border-radius: 50px;
}

#numbers-overlay .row .inner-row.spacer:hover
{
    background-color: transparent !important;
}

#numbers-overlay .row .inner-row.active
{
    background-color: red;
}

@media all and (max-width: 992px)
{
    .roulette-wrapper
    {
        flex-direction: column;
    }

    /* Element | http://localhost:3000/games/roulette */

    .roulette-wheel-content-wrapper {
        padding-top: 0px;
        transform: scale(0.75);
        flex: 400px;
        max-height: 400px;
    }

    /* Element | http://localhost:3000/games/roulette */

    .roulette-wrapper {
        min-height: 1000px;
    }

    /* Element | http://localhost:3000/games/roulette */

    .roulette-table-content-wrapper {
        flex: 1 1 auto;
    }

    /* Element | http://localhost:3000/games/roulette */

    #table-wrapper {
        flex-direction: row;
        min-width: 0px;
        margin: 50px 0px;
    }

    /* Element | http://localhost:3000/games/roulette */

    #top-row {
        flex-direction: column;
    }

    /* Element | http://localhost:3000/games/roulette */

    #right-table {
        flex-direction: row;
    }

    /* Element | http://localhost:3000/games/roulette */

    #table-numbers {
        flex-direction: row-reverse;
    }

    /* Element | http://localhost:3000/games/roulette */

    #first-row {
        flex-direction: column;
    }

    /* Element | http://localhost:3000/games/roulette */

    #second-row {
        flex-direction: column;
    }

    /* Element | http://localhost:3000/games/roulette */

    #third-row {
        flex-direction: column;
    }

    /* Inline #10 | http://localhost:3000/games/roulette */

    .table-value {
        /* padding: 10px 0px; */
        padding: 10px 10px;
    }

    /* Element | http://localhost:3000/games/roulette */

    #bottom-row {
        flex-direction: column;
    }

    /* Element | http://localhost:3000/games/roulette */

    #bottom-center-table {
        flex-direction: row;
    }

    /* Element | http://localhost:3000/games/roulette */

    #center-top-row {
        flex-direction: column;
    }

    /* Element | http://localhost:3000/games/roulette */

    #center-bottom-row {
        flex-direction: column;
    }

    /* Element | http://localhost:3000/games/roulette */

    #left-table {
        max-width: 100%;
    }

    /* Element | http://localhost:3000/games/roulette */

    div.bottom-table-spacer:nth-child(1) {
        max-height: 50px;
    }

    /* Element | http://localhost:3000/games/roulette */

    div.bottom-table-spacer:nth-child(3) {
        max-height: 50px;
    }

    /* Element | http://localhost:3000/games/roulette */

    .roulette-table-content {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
    }
}
