.header{
    display: table-row;
    height: auto;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    position: absolute;
    top: 0;
    padding-top: 32px;
    background-image: linear-gradient(to right, #490185, #720197);
    background-repeat: no-repeat;
}
.sidebar-logo {
    padding-left: 6vw;
    display: table-cell;
    justify-content: center;
    align-items: center;
    overflow: none;
}
.right-container {
    display:table-cell;
    width: 100%;
    vertical-align: middle;
}
.header-right{
    background-image: linear-gradient(to right, #51127f, #e20c8d);
    width: auto;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 25px;
    height: 2.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
}

.search-bar {
    position: relative;
    padding-bottom: 2px;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    width: 350px;
}

#search-game{
    border-color: transparent;
    border-radius: 25px;
    padding-left: 10px;
    height: 90%;
    width: 90%;
}

#search-game-icon {
    position: absolute;
    margin-left: 80%;
}
.lang-menu {
    width: 100px;
    vertical-align: middle;
    text-align: right;
    line-height: 1;
    font-weight: bold;
    margin-top: 25px;
    position: relative;
}
.lang-menu .selected-lang {
    display: flex;   
    justify-content: space-between;
    
    cursor: pointer;
    margin-bottom: 10px;
}

.lang-menu .selected-lang:before {
    content: '';
    display: inline-block;
    margin-right: 1px;
    width: 32px;
    height: 32px;
    background-image: url("../../assets/Elements/english-flag.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.lang-menu ul {
    display: none;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    position: absolute;
    margin-top: -10px;
    padding-left: 0px;
    width: 125px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}

.lang-menu ul li {
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.lang-menu ul li button {
    border: none;
    text-decoration: none;
    width: 125px;
    padding: 5px 10px;
    display: block;
    font-family: 'Poppins', sans-serif;
}
.lang-menu ul li button:hover {
    background: grey;
}

.lang-menu ul li:hover {
    background-color: #f2f2f2;
}

.lang-menu ul li button:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

.en:before {
    background-image: url("../../assets/Elements/english-flag.png");
}

.es:before {
    background-image: url("../../assets/Elements/spanish-flag.png");
}

.lang-menu:hover ul {
    display: block;
}

.connect-wallet{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    vertical-align: middle;
}
.volume{
    color: white;
    font-size:11px;
    font-weight: 500;
    text-align: right;
    padding-right: 8px;
}
.connect-wallet-button {
    width: 155px;
    display: block;
    font-size: 12px;
    border-radius: 25px;
    padding: 6px 10px 5px 10px;
    margin-right: 3px;
    border: none;
    background: white;
    line-height: 27px;
    vertical-align: middle;
}

.connect-wallet-button a{
    text-decoration-line: none;
}
@media screen and (max-width:728px){
    .connect-wallet-button {
        width: auto;
    }
}
@media screen and (max-width:728px){
    .volume {
        display: none;
    }
}
.connect-text{
    margin-top: 1px;
    color: #e20c8d;
    font-weight: 500;
    font-size: 9px;
}
@media screen and (max-width:728px){
    .connect-text {
        display: none;
    }
}

.connect-wallet-icon {
    height: 100%;
    width: 21px;
    height: 26px;
    padding-left: 4px;
    padding-right: 4px;
    
    float: left;
}