.footer-link {
    text-decoration: none;
}

span>a>li:hover, .footerLink:hover {
    color: #d70a84 !important
}

#doc-link:hover, .footerLink:hover {
    color: #d70a84 !important
}

#svgwhat:hover {
    color:"white" !important;
}

@media all and (max-width: 992px) {
    #footer {
        flex-direction: column;
        padding-bottom: 65px;
    }

    #footerContent {
        flex-wrap: wrap;
        align-items: center;
    }
}

@media screen and (min-width: 992px) {
    #footer {
        margin-top: 200px;
    }
}