@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@300&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

#root {
  height: 100%;
}
h1-hero{
 font-size: 3.5vw;
}
h1-leader{
  font-size: 24px;;
  color: white;
}
.App {
  background-image: linear-gradient(to top right, #190356, #4e038b, #74039a);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* left: 10rem; */
  position: fixed;
  /* gap: ; */
}

.mainBody{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 20rem;
  margin-top: 10px;
  position: fixed;
}

.main{
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-left: 20rem;
  width: 100%;
  position: fixed;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
