body
{
    padding: 0;
    margin: 0;
    font-family: sans-serif, Arial, Helvetica;
    background-attachment: fixed;
}

::-webkit-scrollbar {
    display: none;
}

@media all and (max-width: 992px)
{
    /* body
    {
        height: calc(100vh - 70px);
    } */
}