body
{
    padding: 0;
    margin: 0;
    background-image: radial-gradient(ellipse at right top, #750a9a,#200964);
    font-family: 'Poppins', sans-serif;
    background-attachment: fixed;
}

@media all and (max-width: 992px)
{
    /* body
    {
        height: calc(100vh - 70px);
    } */
}