.coinflip-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #51127f;
    color: white;
    width: 24%;
    height: 60vh;
    border-radius: 25px;
    box-shadow: 5px 10px 16px black;
    margin-top: 45px;
}

.below-head{
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.below-head p{
    color: #d70a84;
}

.below-head span{
    color: #fff;
}

.coinflip-calc{
    display: flex;
}

.coinflip-calc input{
    outline: 0;
    border-width: 0 0 2px;
    border-color: #fff;
    background-color: transparent;
    height: 20px;
    margin: 30px 10px 0px 10px;
}

.coinflip-calc h1{
    cursor: pointer;

}

.coinflip-calc span{
    margin: auto;
    color: #d70a84;
    font-weight: bolder;
}

.coinflip-div button{
    margin-top: 10px;
    color: #fff;
    width: 50%;
    height: 50px;
    border: none;
    border-radius: 30px;
    background-image: linear-gradient(to right, #4e038b, #d70a84);
    cursor: pointer;
}