.soon{
    width: 50%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #51127f;
    box-shadow: 5px 10px 16px black;
    border-radius: 25px;
    margin: auto;
}

h1{
    color: white;
}